body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
body{
	font-size:12px;
    color:black;
	margin:0 auto;
}
a{
	text-decoration:none;
	font-size:12px;
	color:black;
}
a:hover{
	color:red;
}
ul{
	list-style:none;
	
}
ul li{
	display:inline-block;
}
strong{
	color:red;
	display:inline-block;
}
h2{
	color:#90e1ff;
}
.container{
	width:100%;
	margin:0 auto;
}
.f9{
	font-size:12px;
	margin-left:8%;
}
.f12{
	
	font-size:18px;
}
.no9{
	font-weight:bold;
}

.header{
	width:100%;
	line-height:28px;
	background:#f6f6f6;
}
.header-right{
	margin-left:650px;
	margin-top:-25px;
}
.header-icon-app{
	width:11px;
	height:16px;
	background:url(../images/icn-app.png) no-repeat;
	position:absolute;
	left:640px;
	top:10px;

}
.header ul {
	display:inline-block;
}
.header ul  li{
      margin-left:15px;
}
.header ul  li:hover ul{
	display:block;
}
.header ul li ul{
	display:none;
	position:absolute;
}
.header ul li ul li{
	background:white;
	z-index: 2;
}
.m-header{
	padding-top:44px;
	padding-bottom:28px;
}
.logo{
	margin-left:8%;
}
.select{
	position:absolute;
	left:630px;
	top:82px;
	width:70px;
	height:43px;
	border:2px solid red;
	border-right-width:0px;
	z-index: -1;
}
.clearFloat{
	zoom: 1;
}
.clearFloat :after{
	display: block;
	content: "";
	visibility: hidden;
	overflow: hidden;
	clear: both;
	height: 0;
}
.footer{
	width:1000px;
	float:left;
	margin-top:50px;
	text-align:center;
}

